# EcomSphere - Environment Variables
# Copy this file to .env and fill in your values

# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/ecomsphere

# Session Secret (generate a strong random string for production)
SESSION_SECRET=ecomsphere_super_secret_key_change_in_production_2025

# Session Configuration (in milliseconds)
SESSION_MAX_AGE=1800000

# Admin Default Credentials (used in seed script only)
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123

# Mailer Configuration (SMTP)
MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_USER=your_user@example.com
MAIL_PASS=your_pass
MAIL_FROM=support@ecomsphere.com
STORE_NAME=EcomSphere

#Payment Gateway
RAZORPAY_KEY_ID=your_test_key_id_here
RAZORPAY_KEY_SECRET=your_test_key_secret_here
